<nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">RotondaComidas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/admin"></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-light" type="submit"><i class="bi-search"></i></button>
            </form>
            <ul class="navbar-nav ms-5">
                <a class="nav-link" routerLink="/cart">
                    <button type="button" class="btn btn-light position-relative">
                        <i class="bi-cart2 me-2"></i>Carrito
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </button>
                </a>
                <a class="nav-link">
                    <button *ngIf="!auth.isLogged()" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">
                        Iniciar Sesión
                    </button>
                    <button *ngIf="auth.isLogged()" type="button" class="btn btn-light mx-2" routerLink="/user">
                        <i class="bi-person-circle"></i>
                    </button>
                    <button *ngIf="auth.isLogged()" (click)="logout()" type="button" class="btn btn-light">
                        Salir
                    </button>
                </a>
            </ul>
        </div>
    </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="text-center mt-3 mx-auto">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-8">
                            <h1>RotondaComidas</h1>
                        </div>
                        <div class="col-2 p-2">
                            <button type="button" class="btn-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <form *ngIf="!auth.isLogged()">
                        <div class="mb-3 text-start">
                            <label for="userName" class="form-label">Correo electronico</label>
                            <input [(ngModel)]="userName" name="userName" type="email" class="form-control" id="userName" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Contraseña</label>
                            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password">
                        </div>
                        <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ errorMsg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <button *ngIf="!loading" type="submit" class="btn btn-lg btn-primary" (click)="login(this.userName, this.password)" [disabled]="!this.userName || !this.password">Iniciar Sesión</button>
                        <button *ngIf="loading" type="button" class="btn btn-default btn-block mt-3" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        </button>
                        <!--
                        <div class="mt-2">
                            <small class="text-muted"><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></small>
                        </div>
                        -->
                    </form>
                    <div *ngIf="auth.isLogged()">
                        <button (click)="continuar()" type="submit" class="btn btn-lg btn-primary" data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                    </div>
                </div>

                <div *ngIf="!auth.isLogged() && !loading" class="text-center mt-3 mx-auto mb-4">

                    <p class="card-text">¿No tienes una cuenta aún?</p>
                    <small class="text-muted"><a routerLink="/register" data-bs-dismiss="modal" aria-label="Close" class="link">Crea una ahora mismo</a></small>

                </div>
            </div>
        </div>
    </div>
</div>