<div class="row justify-content-center mt-5 mb-4">
    <div class="col-auto">
        <button type="button" class="btn btn-custom" routerLink="/restaurants">
            <img src="https://via.placeholder.com/150" alt="" class="rounded" height="125">
            <br>
            <br>
            <div class="h4">Restaurantes</div>
        </button>
    </div>
    <!--
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="https://via.placeholder.com/150" alt="" class="rounded" height="125">
            <br>
            <br>
            <div class="h4">Menús</div>
        </button>
    </div>
    -->
    <div class="col-auto">
        <button type="button" class="btn btn-custom">
            <img src="https://via.placeholder.com/150" alt="" class="rounded" height="125">
            <br>
            <br>
            <div class="h4">Entradas</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom">
            <img src="https://via.placeholder.com/150" alt="" class="rounded" height="125">
            <br>
            <br>
            <div class="h4">Fuertes</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom">
            <img src="https://via.placeholder.com/150" alt="" class="rounded" height="125">
            <br>
            <br>
            <div class="h4">Postres</div>
        </button>
    </div>
</div>
