<div class="container-fluid my-3">
    <div class="row m-2">
        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Restaurantes</h5>
                    <p class="card-text">
                        <button type="button" routerLink="/admin-restaurant" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Ingredientes</h5>
                    <p class="card-text">
                        <button type="button" routerLink="/admin-ingredient" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">
                        <button type="button" routerLink="/admin-product" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Menús</h5>
                    <p class="card-text">
                        <button type="button" routerLink="/admin-menu" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">
                        <button type="button" class="btn btn-primary mx-2">Administrar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>