<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-sm-10 col-lg-8">
            <div class="card border-0 shadow m-3 p-3">
                <img src="{{ restaurante.foto }}" class="card-img-top" alt="{{ restaurante.nombre }}">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ restaurante.nombre }}</h3>
                    <div class="card-text text-center">
                        <div class="row card-text">
                            <div class="col">
                                Dirección:
                            </div>
                            <div class="col">
                                {{ restaurante.direccion }}
                            </div>
                        </div>
                        <div class="row card-text">
                            <div class="col">
                                Ciudad:
                            </div>
                            <div class="col">
                                {{ restaurante.ciudad }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div *ngFor="let plato of platos" class="col-12 col-sm-12 col-sm-6 col-lg-4">
            <div class="card border-0 shadow m-3 p-3">
                <img src="{{ plato.foto }}" class="card-img-top" alt="{{ plato.nombreplato }}">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ plato.nombreplato }}</h3>
                    <div class="card-text text-center">
                        <div class="row card-text">
                                {{ plato.descripcion }}
                        </div>
                        <div class="row card-text">
                            <button type="button" class="btn btn-primary" routerLink="restaurant/{{ restaurante.nit }}/product/{{ plato.id }}">Ver más</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>